@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
//

:root {
  --bg-body: #fff;
  --bg-main: #f4e1fc;
  --bg-card: rgba(167, 71, 98, 0.5);
  --color-titles: #7e1a02;
  --color-body: #343434;
  --ff-titles: "Neucha", cursive;
  --ff-body: "Gill Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-body);
  background-color: var(--bg-body);
  font-family: var(--ff-body);
}

body {
  display: grid;
  grid-template-rows: 15% 1fr 15%;
  height: 100vh;
  @media (max-width: 700px) {
    grid-template-rows: repeat(3, 1fr);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-titles);
  color: var(--color-titles);
  font-weight: bold;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h6 {
  font-size: 20px;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  text-decoration: underline;
  color: var(--color-titles);
  transform: scale(1.1);
  transition: all 0.5s;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.Header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--bg-main);
  @media (max-width: 700px) {
    gap: 10px;
  }

  &__logo {
    justify-self: start;
    width: 80px;
    height: 50px;
    @media (max-width: 700px) {
      justify-self: center;
    }
  }
  &__navigation {
    justify-self: right;
    @media (max-width: 700px) {
      justify-self: center;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(50px, 1fr));
      align-items: center;
      justify-items: center;
      .home {
        grid-column: span 2;
      }
      .shop-icon {
        width: 30px;
        height: 30px;
      }
      .btn-home {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--bg-card);
        background-color: var(--bg-card);
        color: #000;
      }
      .btn-home:hover {
        color: #fff;
        text-decoration: none;
        background-color: #7e1a02;
      }
      .products-count {
        display: inline-block;
      }
    }
  }
}

.Main {
  padding: 20px 40px;
  &__title {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-titles);
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &--info p {
      pointer-events: none;
    }
    &--item {
      border-radius: 10px;
      width: 150px;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        text-decoration: none;
      }
      p {
        background-color: var(--bg-card);
        padding: 5px 10px;
        border-radius: 0 0 5px 5px;
        margin-top: -5px;
        display: flex;
        align-items: center;
        font-size: 12px;
      }
    }
  }
  &__modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    &--container {
      width: 40vw;
      padding: 10px 20px;
      margin: 20% auto;
      border-radius: 10px;
      position: relative;
      a {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: var(--color-titles);
        padding: 5px;
        color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        align-content: center;
        padding: 20px;
        gap: 10px;
        img {
          margin: 0 auto;
          width: 150px;
          height: 150px;
          box-shadow: 4px 1px 8px 0px #595959;
          border-radius: 10px;
        }
        p {
          font-weight: bold;
          margin-bottom: 10px;
          span {
            font-weight: normal;
          }
        }
        .btn-add {
        }
      }
    }
    &:target {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.btn {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid var(--bg-card);
  background-color: var(--bg-card);
  color: #000;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #7e1a02;
    border-radius: 1px solid var(--color-titles);
    border-radius: 0.25rem;
  }
}

.Cart {
  padding: 20px;
  &__title {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-titles);
  }
  &__product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    gap: 20px;
    &--info {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 10px;
      .product {
        display: grid;
        grid-template-columns: 15% 85%;
        align-self: center;
        padding: 5px;
        border: 3px solid var(--bg-card);
        border-radius: 5px;
        img {
          width: 80px;
          height: 80px;
          margin: 0 auto;
        }
      }
    }
    &--description {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      padding: 10px;
      .product {
        &-item {
          margin: 0 auto;
          p {
            font-size: 17px;
          }
          small {
            font-size: 12px;
          }
        }
        &-price {
          display: flex;
          justify-content: space-around;
          .quantify {
            border: 1px solid var(--bg-card);
            padding: 8px;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: center;
          }
          .btn-delete {
            width: 30px;
            margin-left: 10px;
          }
        }

        :last-of-type {
          margin: 0;
        }
      }
    }
  }
  &__totals {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &--price {
      display: flex;
      justify-content: center;
      align-items: center;
      h6 {
        margin-right: 10px;
      }
    }
  }
}

.Footer {
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  border-top: 1px solid var(--bg-main);
  padding: 10px 20px;
  &__navigation {
    ul {
      display: flex;
      li {
        a {
          display: block;
          width: 30px;
          margin-left: 10px;
        }
      }
    }
  }
}
